.jumbotron{
    text-align: center;
}
body{
    background-image: url(./3397552.webp);
}
.registration-form{
  border: 2px solid transparent;
  border-radius: 0px 25px 25px 0px;
  padding: 30px;
    margin-bottom: 50px;
    /* width: 550px !important; */
    height: 580px;
    background-color: darkslategrey;
}
#font-check{
    font-size: 20px;
    color: white;
}
#font-check-log{
    font-size: 20px;
    color: black;
    font-weight: 500;
}
.login-form{
    border: 2px solid transparent;
  border-radius: 0px 25px 25px 0px;
  padding: 30px;
  height: 580px;
  margin-bottom: 50px;
    /* width: 550px !important; */
    background-color: yellowgreen;
}
.brand-title{
    color: white;
}
.right-shift{
    color: white !important;
}
.sign-up-title, .login-title, .button-style{
    text-align: center;
}
.login-title{
    margin-top: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 700;
}
.sign-up-title{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: 700;
}
.ashri{
    color: rgb(26, 90, 71);
}

.alert-danger, .alert-success{
    margin: auto;
    display: none;
    /* text-align: center; */
}
#login-form{
    display: none;
}
.image-form{
    box-shadow: 10px 50px 50px 0 ;
      background: inherit;
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
      align-items:center;
      backdrop-filter: blur(10px);
}
#lorem{
    color: yellowgreen;
    font-family: 'Times New Roman', Times, serif;
}
.image-form{
    height: 580px;
    margin-top: -50px !important;
    border-radius: 25px 0px 0px 25px;
}
.invalid-feedback{
    /* color: white !important; */
    color: rgb(151, 10, 10) !important;
}
#button-toggle-sign{
    margin-left: 15rem;
    margin-top: -70rem;
border-radius: 15px 0px 0px 15px;
border: 1px solid white;
width: 5rem;
color: white;
font-size: 15px;
background-color: darkslategrey;
}
#button-toggle-log{
    border-radius: 0px 15px 15px 0px;
    width: 5rem;
    font-size: 15px;
    margin-left: -6px;
    border: 1px solid white;
    color: black;
    background-color: yellowgreen;
}
.contain{
  margin:auto !important;
    align-items: center;
    text-align: center;
}
#email, #phone-number{
    border-radius: 0px 5px 5px 0px;
}
.buttonss{
margin-top: -0.9rem;
}

  #welcome{
    text-align: center;
    color: yellowgreen;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
  }
  @media screen and (max-width: 767px) {
    .image-form{
        display: none;
    }
    .registration-form, .login-form{
        border-radius: 15px 15px 15px 15px;
    }
    #button-toggle-sign{
        margin: auto; 
         margin-top: -70rem;
     border-radius: 15px 0px 0px 15px;
     border: 1px solid white;
     width: 4rem;
     color: white;
     font-size: 15px;
     background-color: darkslategrey;
     }

  }
  @media screen and (max-width: 768px) {
    
    #button-toggle-sign{
       margin: auto; 
        margin-top: -70rem;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid white;
    width: 4rem;
    color: white;
    font-size: 15px;
    background-color: darkslategrey;
    }
    #button-toggle-log{
        border-radius: 0px 15px 15px 0px;
        width: 5rem;
        font-size: 15px;
        margin-left: -6px;
        border: 1px solid white;
        color: black;
        background-color: yellowgreen;
    }
  }
  @media screen and (min-width: 769px) and (max-width: 11096px) {
    #button-toggle-sign{
        margin: auto; 
         margin-top: -70rem;
     border-radius: 15px 0px 0px 15px;
     border: 1px solid white;
     width: 4rem;
     color: white;
     font-size: 15px;
     background-color: darkslategrey;
     }
    
  }
    